src/main/mule/my-sys-wsdl.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config name="soapkit-config" port="example1SOAP" service="example1" wsdlLocation="example1.wsdl" inboundValidationEnabled="true"/>
	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="29e43da3-31db-4163-8130-cfc066454f1b" files="beans.xml" />
	<spring:security-manager doc:name="Spring Security manager" doc:id="6fbb77aa-7a8a-4ee6-a75b-020070c6c293" >
		<spring:delegate-security-provider name="memory-provider" delegate-ref="authenticationManager" />
	</spring:security-manager>
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/example1/example1SOAP">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <http:basic-security-filter doc:name="Basic security filter" doc:id="c27d4bb3-1d1a-4930-9c67-4c064ca46e14" realm="mule"/>
		<apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="Greet:\soapkit-config">
		<spring:authorization-filter doc:name="Authorization filter" doc:id="cee13c01-33b9-448d-8c3e-033cd2c46dbf" requiredAuthorities="GREET"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns ns0 http://www.example.org/example1/
---
{
	body: {
		ns0#GreetResponse: {
			Greet: "Hello " ++ payload.body.ns0#Greet.Name
		} 
	} write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="Sum:\soapkit-config">
        <spring:authorization-filter doc:name="Authorization filter" doc:id="e716dcb2-00e7-42a8-9828-ab5cf644ca72" requiredAuthorities="SUM"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns ns0 http://www.example.org/example1/
---
{
	body: {
		ns0#SumResponse: {
			result: payload.body.ns0#Sum.number1 + payload.body.ns0#Sum.number2
		} 
	} write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
